<div class="wrapper grace-services">
  <div class="section" id="carousel">
    <div class="container content-center">
      <div class="title text-center">
        <h1>Services</h1>
      </div>
      <div class="slide row justify-content-center">
        <ngb-carousel #carousel (slide)="updateContent($event)" class=" col-sm-8 col-md-8 col-lg-6">
          <ng-template  [id]="service.id" class="service-slide" *ngFor="let service of services" ngbSlide>
            <img class="d-block carousel-image" [src]="service.image" alt="First slide">
          </ng-template>
        </ngb-carousel>
        <div class="card card-content card-serve card-height col-sm-8 col-md-8 col-lg-6 text-center">
          <div class="card-header">{{tagged.title}}</div>
          <div class="card-body">{{tagged.content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>