<div class="wrapper meet-grace">
  <div class="container" >
      <div class=" content-center meet-grace-content">
        <h1 class=" text-center title">
          Meet Grace
        </h1>
          <div class="text-center">
              <div class="profile-picture">
                <img src="assets/img/grace_profile.jpg" alt="Circle Image" class="rounded-circle">
              </div>
              <div class="about-content">
                  Hey Y'all! My name is Grace and I am born and raised in NC. 
                  I have been with my partner, Roice since we were 15 and we got married in 2015.
                  I am a proud mama to a toddler, Maven-Beau and two dogs, Buddy and Pablo. 
                  As a little girl my mom and aunts always told me I came from a line of "good birthers". When I became pregnant I had the privilege of not being fearful of labor. 
                  I knew my body could do it! I went on to have the most wonderful unmedicated water birth where I
                  felt respected, heard, and powerful! I wanted to yell from a roof top "that was amazing!" I 
                  realize that so many of don't get that experience. Whether it's going into it with fears and 
                  stress from our notions of what labor will feel and be like. Or not being respected or heard 
                  by those around us at our most vulnerable time. Or simply feeling defeated at the end because 
                  all did not go "as planned". That's when I decided to start my CAPPA training to become a doula! 
                  I want you to have the supported birth you want, whatever that means to you. Planned cesarean,
                  home birth, epidural, or water birth. You know how to birth your baby. Your partner and I will 
                  advocate for you, support you, and help you have a birth you can feel powerful about. 
              </div>
          </div>
      </div>
  </div>
</div>