<div class="wrapper meet-grace">
  <div class="container">
    <div class=" content-center meet-grace-content">
      <h3 class=" text-center title">
        Grace Johnson
      </h3>
      <div class="text-center">
        <div class="profile-picture">
          <img src="assets/img/grace_profile.jpg" alt="Circle Image" class="rounded-circle">
        </div>
        <div class="about-content">
          Hey Y’all! I am born and raised in NC and graduated locally from UNC.
          I have been with my partner, Roice since we were 15 and we were married
          in 2015. I am a proud mama to a toddler, Maven-Beau and two dogs, Buddy
          and Pablo. As a little girl my family always told me I came from a line of
          "good birthers". When I became pregnant I had the privilege of not being fearful
          abor. I knew my body could do it! I went on to have the most wonderful unmedicated
          water birth where I felt respected, heard, and powerful. I wanted to shout from a
          roof top! I realize that so many of don't get that experience. We often carry fears
          into our births. In a world with so much opinion we are sometimes lost looking for
          evidence and fact. And unfortunately, women are not always respected, trusted, or
          advocated for during childbirth. That's why I decided to start my CAPPA training to
          become a doula! I want you to have the birth you want, whatever that means to you.
          ed cesarean, home birth, epidural, or water birth. You know how to birth your baby.
          I will advocate for you, support you, and help you have a birth you can shout from
          the roof top about!
        </div>
      </div>
    </div>
  </div>
</div>