<div class="container ">
        <div class="content row justify-content-center ">
          <div class="content-title text-center ">
            <h1 class="stand-alone">Contact</h1>
            <h3>Email: <a>gracefulbeginingsraleigh@yahoo.com</a></h3>
            <h3>Phone: <a>(336-618-1285)</a></h3>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)=sendMessage() class=" row col-8 justify-content-center form-body" >
                <div class="col-6">
                        <div class="form-group ">
                            <input formControlName="firstname" type="text" placeholder="First Name" class="form-control form-control-success" />
                        </div>
                </div>
                <div class="col-6">
                        <div class="form-group ">
                            <input  formControlName="lastname" type="text" placeholder=" Last Name" class="form-control form-control-success" />
                        </div>
                </div>
                <div class="col-6">
                        <div class="form-group ">
                            <input formControlName="email"type="text" placeholder="Email" class="form-control form-control-success" />
                        </div>
                </div>
                <div class="col-6">
                        <div class="form-group ">
                            <input formControlName="phonenumber" type="text" placeholder="Phone Number" class="form-control form-control-success" />
                        </div>
                </div>
                <div class="col-8">
                        <div class="form-group green-border-focus">
                                <label for="exampleFormControlTextarea5">Write Message</label>
                                <textarea formControlName="message" class="form-control"id="exampleFormControlTextarea5" rows="3"></textarea>
                        </div>
                </div>
                <div class="col-12 text-right">
                        <button [disabled]="!contactForm.valid"  placement="top" ngbTooltip="Send Message" 
                                class="btn btn-primary btn-icon btn-round" type="submit">
                                <i class="now-ui-icons ui-1_send"></i>
                        </button>
                </div>
        </form>
        </div>
      </div>