<div class="soon-container ">
    <div class="content ">
      <div class="content-title text-center soon-title ">
        <h1 class="stand-alone">Coming Soon</h1>
        <h3> Our website is under construction follow us for updates</h3>
        <div class="button-container">
            <a href="https://www.facebook.com/Graceful-Beginnings-Doula-and-Lactation-Educator-2170529909700235/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Connect with  us on Twitter">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/gracefulbeginningsraleigh/?utm_source=ig_profile_share&igshid=1t8ti4vur9am1&fbclid=IwAR2cyZZJWuQJQ6L9pXPRBVXNi_teLWczaf_yG7vJVCV7yKcXMmULueSndEI" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Connect with us on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
  