
<ng-template class="row" #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class=" text-center">
            <div>{{title}}</div>
        </div>
    </div>
    <div class="modal-body text-left">
        <div class="content-modal">
            <div class="modal-goal">{{content.goal}}</div>
            <ul *ngFor="let point of content.points">
                <li class="point">{{point}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer row justify-content-center">
            <button type="button" class=" close-text btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
        </div>
    
</ng-template>
