<div class="page-header page-header-small">
    <div class="page-header-image" style="background-image: url('assets/img/grace_cover_photo.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title">Graceful Beginnings</h1>
            <h3 class="sub-title">Doula & Lacation Support</h3>
            <div class="text-center">
                Welcome to my corner of the internet! Providing support to families throughout pregnancy is truly a passion! 
                I am here to empower you with unbiased information, non-judgemental encouragement, and caring professional support throughout your pregnancy, labor, and right after. 
                I will always be respectful and inclusive as I guide you through this physical and emotional journey. 
                I am trained with CAPPA and servicing families around the Triangle area.
            </div>
        </div>
    </div>
</div>