
.chatbot-controller
{
    position: fixed;
    bottom: 0;
    right:0;
}
.chatbot-content
{
    position: fixed !important;
    bottom:10vh;
    right:0;
    border: .5vh solid $primary-color;
    z-index: 10000;

    
}
.message-content{
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 40vh;
}

.message-badge{
    
    white-space: pre-line !important; 
    margin-bottom: 5vh  !important;
}
.card-footer-custom{
    padding-bottom: 2vh;
}