
.slide-container
{
    color:$white-color;
    height: 400px;
    padding: 0;
    border-radius: 5%;
    font-weight: bold;
}

.slide-content
{
    
    position: absolute;
    bottom: 0;
    
    
}

.carousel-image{
    opacity: .75;

}

.service-title{
    font-weight: bolder;
    color: black;
}
.col-sm-8{
    
        // max-height: 225px !important;
        // padding-bottom: 0;
    
}
.card-serve{
        padding-top:0; 
        border: .25vh solid $primary-color;
        margin-bottom:0 !important; 
        overflow-y: auto !important;
    }



