// .layout{
//    margin-top: 0; 
// }

::-webkit-scrollbar {
    width: 1.5vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white-color; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }