<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a  [routerLink]="['/faq']">
                       FAQs
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{current | date: 'yyyy'}}, Created by JsWare
        </div>
    </div>
</footer>
